.card-body {
    height: 130px;
}

.triple-buttons {
    display: flex;
    justify-content: space-between;
}

.card-content {
    position: relative;
    height: 100%;
}

.button-style {
    background-color: #F06C00;
    color: white;
}

.modal-cart {
    padding: 25px ;
}

.outer-cart-card {
    padding: 4px !important;
}