.product_name {
    font-size: 16px;
}
.product_name:hover {
    text-decoration: underline;
    color: #F06C00;
    cursor: pointer;
  }

/* @media screen and (max-width:1189px) {
    .product_name {
      font-size: 16px; 
    }
} */

@media screen and (max-width:1169px) {
    .product_name {
      font-size: 15px; 
    }
}

@media screen and (max-width:1149px) {
    .product_name {
      font-size: 13px; 
    }
}

@media screen and (max-width:968px) {
    .product_name {
      font-size: 10px; 
    }
}

@media screen and (max-width: 768px) {
  .product_name {
    font-size: 20px; 
  }
}

@media screen and (max-width: 576px) {
  .product_name {
    font-size: 16px; 
  }
}


.product-image-webp{
    height: 25vh;
}

.custom-card {
    height: 400px;
    box-sizing: border-box;
    padding: 0px !important
}

.card-content {
    position: relative;
    height: 100%;
}
  
.card-footer {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
}

.icons {
  display: flex;
  width: 25px ;
  height: 25px;
}

.outer-card {
  margin: 5px 0px 10px 0px;
}